body {
    font-family: 'Gentium Book Basic', serif, Helvetica,Arial,sans-serif;
    background: url('../img/backgrounds/Blue-Gradient.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-family: 'Gentium Book Basic', serif, Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    font-size: 1.20em;
    line-height: 1.6;
    color: #000;
}

.brand {
    display: none;
}

.brand-before {
    margin: 15px 0;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}

.navbar-nav {
    /*text-transform: uppercase;*/
    font-weight: 400;
    letter-spacing: 3px;
}

.img-full {
    min-width: 100%;
}

.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}

.img-left {
    float: none;
    margin: 0 auto 0;
}

.img-right {
    float: none;
    margin: 0 auto 0;
}

.brand-before,
.brand-name {
    text-transform: capitalize;
}

.brand-name {
    margin: 0;
    font-size: 4em;
}

.tagline-divider {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999999;
}

hr {
    max-width: 400px;
    border-color: #999999;
}

.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}



@media screen and (min-width:768px) {
    .brand {
        display: inherit;
        margin: 0;
        padding: 30px 0 10px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-family: 'Gentium Book Basic', serif, Helvetica,Arial,sans-serif;
        font-size: 5em;
        font-weight: 700;
        line-height: normal;
        color: #fff;
    }
    
    .navbar {
        border-radius: 0;
    }
    
    .navbar {
        min-height: 0;
    }

    .navbar-default {
        border: none;
        background: #fff;
        background: rgba(255,255,255,0.9);
    }
    
    .navbar-header {
        display: none;
    }

    .nav>li>a {
        padding: 35px;
    }

    .navbar-nav>li>a {
        line-height: normal;
    }

    .navbar-nav {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1.25em;
    }
    
    .box {
        margin-bottom: 20px;
        padding: 30px 15px;
        background: #fff;
        background: rgba(255,255,255,0.9);
    }
    
     .img-left {
        float: left;
        margin-right: 25px;
        margin-bottom: 15px;
    }
    
    .img-right {
        float: right;
        margin-left: 25px;
    }
    
    .quote {
        font-style: italic;
        font-weight: 600;
        margin-bottom: -5px;
    }
    
    #initiatives {
        border: 1px solid #CFD0D4;  
        border-radius: 5px;
        padding: 10px;
    }
    
    #initiatives ul {
        background: #d9d9d9;
        border-bottom: 3px solid #222534;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
    
    
    #initiatives a {
        padding: 10px;
    }
    
    .initiative {
        padding: 0px 10px 10px 10px;
    }
    
    .initiative h3 {
        font-size: 20px;
        margin-top: 3px;
        margin-bottom: 2px;
        letter-spacing: 0px;
    }
    
    .initiative i {
        font-size: 24px;
        height: 64px;
        line-height: 64px;
        text-align: center;
        width: 40px;
        border-radius: 100%;
        color: #00CCFE;
    }
    
    #donate p {
        width: 80%;
        margin: auto;
        margin-bottom: 40px;
    }
    
    #supplies-header {
        background: #d9d9d9;
        border-bottom: 3px solid #222534;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
    
    #supplies-header h4 {
        padding-top: 15px;
    }
    
    .col-lg-2 {
        text-align: center;
        margin-top: 30px;
    }
    
    #donate h3 {
        font-size: 18px;
    }
    
    #supplies {
        background: url('../img/backgrounds/Blue-Gradient.jpg');
        border: 1px solid #CFD0D4;
        border-radius: 5px;
        padding: 0 10px 0 10px;
    }
    
}

@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}
