<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                <div id="carousel-images" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators hidden-xs">
                        <li data-target="#carousel-images" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-images" data-slide-to="1"></li>
                        <li data-target="#carousel-images" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="img-responsive img-full" src="img/carousel/slide-1.png" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="img/carousel/slide-2.png" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="img/carousel/slide-3.png" alt="">
                        </div>
                    </div>
                     <!-- Controls -->
                    <a class="left carousel-control" data-target="#carousel-images" data-slide="prev">
                        <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" data-target="#carousel-images" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>Our Foundation</strong>
                </h2>
                <hr>
                <img class="img-responsive img-border img-left" src="img/home/logo-angeles.png" alt="">
                <hr class="visible-xs">
                <p>Founded by Mark Kaseman, Angeles de Medellín is a Colombian foundation established to help the displaced children and families living in poverty in the mountains that surround Medellín. The foundation is based in the barrio Regalo de Dios, and aims to serve over 10,000 people that currently live in the area.</p>
                <p>The primary goal of the foundation is to improve the lives of the community’s children through the creation of a safe environment for education, exploration, and play. Angeles de Medellín organizes learning games, sports opportunities, art projects, and more, serving as a beacon of happiness in a community too-often characterized by hardships.</p>
                <p>The foundation offers daily English classes to teenagers and adults, with the goal of increasing the knowledge, confidence, and employability of these individuals.</p>
                <p>Every year, Angeles de Medellín hosts dozens of special events to bring joy and much needed supplies to the citizens of the area. The annual Christmas party is attended by more than 5,000 individuals, with adults receiving a large food basket and children receiving toys and games.</p>
                <p>For many individuals in the community, Angeles de Medellín is the only form of social support available. The foundation purchases food, medicine, medical supplies, and other essentials for those most in need. We work closely with the local police force to reach the area’s most disadvantaged families.</p>
                <p>Angeles de Medellín is a 100% volunteer run and supported organization that currently relies entirely on donations to fund its operations.</p>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>Our Founder</strong>
                </h2>
                <hr>
                <img class="img-responsive img-border img-right" src="img/home/Mark.png" alt="">
                <hr class="visible-xs">
                <p class="quote">"He is just one man, but he reminds us all that it only takes one person to make a world of difference in a community."</p>
                <p>
                    <small>
                        <a href="http://www.huffingtonpost.com/adam-pervez/marcos-the-father-of-the-_b_4956993.html" target="_blank"> - Marcos: Father of the Mountains, Huffington Post, 2014</a>
                    </small>
                </p>
                <p>Mark “Marcos” Kaseman is known as “El Papa de las Montañas” (The Father of the Mountains); he is the Founder and Director of the Angeles de Medellin Foundation. Marcos works out of his home in Enviago. He has no staff, and he does not receive any compensation. 100% of all donations goes directly to the programs that help the families in the community.</p>
                <p>Originally from Rochester, New York where he graduated from the Rochester Institute of Technology, owned a successful printing and marketing business, and started a family. Mark is a United States military veteran who has always believed in helping others and worked with youth programs. In 2004, a trip to Medellin, Colombia changed his life when his heart was touched by the city and its community. He returned several times in the short span of time between his first visit until he finally sold his business and moved to Medellin in of May of 2005.</p>
                <p>In March of 2006, he began working with poor and displaced children and families that live high in the mountains above the city and has since dedicated and even risked his life to help the often overlooked community of Medellin since.</p>
                <p class="quote">"Every day that I work in the mountains, I marvel at the love and kindness that these children and their families have given to me. For the past 5 years I have been blessed with hundreds of new-found friends. These lovely people are poor but happy, caring and loving, humble and appreciate everything that I am able to do for them."</p>
                <p><small> - Mark “Marcos” Kaseman, November 2010</small></p>
            </div>
        </div>
    </div>
</div>