<div class="container">
    <div class="row">
        <div id="donate" class="box">
            <div id="donate" class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>Donate</strong>
                </h2>
                <hr>
                <hr class="visible-xs">
                <p class="text-center">The foundation is a 100% volunteer run and supported organization that currently relies entirely on donations to fund its operations. There are different ways in which you can help and make a difference on this community.</p>
            </div>
            <div id="supplies" class="col-lg-12">
                <div class="col-lg-2">
                    <img ng-src="img/how-to-help/food.png" alt="food" width="45" height="45">
                    <h3>Food</h3>
                </div>
                <div class="col-lg-2">
                    <img ng-src="img/how-to-help/toy.png" alt="toy" width="45" height="45">
                    <h3>Toys</h3>
                </div>
                <div class="col-lg-2">
                    <img ng-src="img/how-to-help/medkit.png" alt="medkit" width="45" height="45">
                    <h3>Medicine</h3>
                </div>
                <div class="col-lg-2">
                    <img ng-src="img/how-to-help/shirt.png" alt="shirt" width="45" height="45">
                    <h3>Clothing</h3>
                </div>
                <div class="col-lg-2">
                    <img ng-src="img/how-to-help/sofa.png" alt="sofa" width="45" height="45">
                    <h3>Furniture</h3>
                </div>
                <div class="col-lg-2">
                    <img ng-src="img/how-to-help/laptop.png" alt="laptop" width="45" height="45">
                    <h3>Technology Devices</h3>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>Volunteer</strong>
                </h2>
                <hr>
                <img class="img-responsive img-border img-right" src="img/home/Mark.png" alt="">
                <hr class="visible-xs">
                <p>Every year, volunteers from all over the world come to Medellin. The foundation is always open minded to new ideas, new friends, new projects and will always be greatful for the volunteer's efforts. <br> You can also be part of the impact that Angeles de Medellin is making and there are different ways that you can help</p>
                <p>Angeles de Medellin is completely privately funded and could not exist without the compassion and efforts of our volunteers and donors.</p>
                <p class="quote">"In 2014 we had over 150 foreign volunteers from 26 countries and in excess of more than 200 Colombian volunteers coming from throughout Colombia's 9 major cities helping and providing support and love to the families in the mountains".</p>
                <p class="quote">"I want to thank all volunteers past and present for making this privately funded foundation such a success for the past 9 years, without your continued financial and loving support none of this can take place. Thank you all from the bottom of my heart".</p>
                <p><small> - Mark “Marcos” Kaseman</small>
                    <small>  Founder and Director</small>
                    <small>  Angeles de Medellin Foundation</small>
                </p>
            </div>
        </div>
    </div>
</div>