<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>A walk through the years at <br> 
                        Ángeles de Medellín Foundation</strong>
                </h2>
                <hr>
                <hr class="visible-xs">
            </div>
            <div class="col-lg-12">
                <ul class="nav nav-tabs nav-justified" id="timelineTab">
                    <li class="active"><a data-toggle="tab" data-target="#2015">2015</a></li>
                    <li><a data-toggle="tab" data-target="#2016">2016</a></li>
                </ul>
                <div class="tab-content">
                    <div id="2015" class="tab-pane fade in active">
                        <div class="text-center">
                            <p id="tabDescription">One of the greatest years Ángeles de Medellín has seen.<br>
                                We expanded to 4 locations, provided support to over 15,000 people and so much more.
                            </p>
                        </div>
                        <ul class="timeline">
                            <li>
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>January</h4>
                                        <h4 class="subheading">Children on vacation</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">We had many activities including music, dancing, arts and crafts etc. On an average day more than 100 children visited the foundation during their vacation time. We also had our annual school supply donation week and over 900 children received bags, notebooks, eraser, pens, pencils and rulers.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>January</h4>
                                        <h4 class="subheading">Special Moms Program</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">10-15 single mom's from 14 years old to 32 visit the foundation and cook lunch for between 150 and 250 elderly, handicapped and children. The beginning of one of the most beautiful days of sharing and caring every Wednesday.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>February</h4>
                                        <h4 class="subheading">Tragedy</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">24 houses burned down in Barrio Embacion - and within 2 days the ONLY FOUNDATION to bring food, blankets, kitchen materials, clothing and shoes to these now displaced families - YES - ANGELES DE MEDELLIN FOUNDATION. For the next 2 months we gave out food each tuesday and fed the families lunch on wednesdays.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>February</h4>
                                        <h4 class="subheading">700 Pairs of Shooes</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">We gave out over 700 pairs of shoes to the most needy children. Nothing beats a new pair of sneakers.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>March</h4>
                                        <h4 class="subheading">Sewing Classes</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">The beginning of another new program for anyone who wants to learn a trade and change their life. Four days a week Jose teaches sewing to ladies for 2 hours at a time. Good luck ladies - we can wait to watch your progress.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>March 10th</h4>
                                        <h4 class="subheading">Carmen Mancini</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">A very special angel CARMEN MANCINI donated 100 mattresses to the families that lost their homes in the fire in February.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>March 21st</h4>
                                        <h4 class="subheading">New Facility</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">The foundation moved from our old, filthy headquarters to a new larger facility across the street. After 3 weeks of painting and cleaning we were ready for a new life and expanded facility.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>April</h4>
                                        <h4 class="subheading">Easter</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">We held our first annual EASTER EGG COLORING EVENT WITH OVER 800 children visiting the foundation and decorating their first Easter eggs - and yes, when we told them they could eat them - BYE BYE HUEVOS.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>May</h4>
                                        <h4 class="subheading">Another Beautiful Month</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Expanding the sewing program, and giving out another 500 pairs of shoes to more children.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>June</h4>
                                        <h4 class="subheading">Our First Dental Clinic</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">With the kindness and skill of students learning dentistry - 15 students from the unviersity of UNIMINUTO in Bello visited the foundation and cleaned the teeth of over 200 children. It was the first time in their lives that anyone had even looked at their teeth. Special thanks to the professors and students - what a day and they even pulled one tooth. ouch!</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>June</h4>
                                        <h4 class="subheading">In Memory of Our Beautiful Angel</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Maria the mom of Faver - who is severly handicapped, we laid her to rest and because of the heroic efforts of a volunteer within one week Faver was in a home for men. We will always remember and love you Maria.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>July, August, September</h4>
                                        <h4 class="subheading">More Volunteers</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Over 100 volunteers visited the foundation during these months and made each day special and fun. Thank you all for your kindness, love and support to keeping the foundation running.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>October</h4>
                                        <h4 class="subheading">2nd Annual Haunted House</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Scary, terrifying, creppy, screaming, yelling and fear. YES, the volunteers out do themselves each year and trust me it does not get any better than watching the angelitos go running out from our special Haunted House. BOOOOOOOOOO!!</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>November</h4>
                                        <h4 class="subheading">Eanglish Classes Start to Wind Down</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Over 120 students visited the foundation and learned english from volunteers from throughout the world. Our success with students is off the scale - again thank you both students for your efforts and the volunteers who enrich their lives.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>December</h4>
                                        <h4 class="subheading">Annual Christmas Party</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">We celebrated our 9th Annual Christmas party over 4 days. We first gave out food, blankets, pillows and gifts to over 800 elderly and handicapped people. Smiles, hugs and laughter was given by volunteers from over 20 different nations bringing incredible joy to our little Angelitos.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>December 18th</h4>
                                        <h4 class="subheading">Papa Noel</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">On the 19th of December, over the next 3 days we had over 4,000 children visit the Foundation and they enjoyed music, food, gifts, face painting, trampolines and inflatible castles and our famous Colombian Papa Noel Antonio. NOTHING LIKE THE FINAL YEAR END EVENT AND YES, PAPA NOEL COMES IN FROM THE SOUTH POLE TO BRING SMILES TO ALL.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="text-center">
                            <p id="tabDescription">Thank you to the volunteers who made it the best year ever!<br>
                                Vamos 2016
                            </p>
                        </div>
                    </div>
                    <div id="2016" class="tab-pane fade">
                        <div id="2015" class="tab-pane fade in active">
                        <div class="text-center">
                            <p id="tabDescription">One of the greatest years Ángeles de Medellín has seen.<br>
                                We expanded to 4 locations, provided support to over 15,000 people and so much more.
                            </p>
                        </div>
                        <ul class="timeline">
                            <li>
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>January</h4>
                                        <h4 class="subheading">Children on vacation</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">We had many activities including music, dancing, arts and crafts etc. On an average day more than 100 children visited the foundation during their vacation time. We also had our annual school supply donation week and over 900 children received bags, notebooks, eraser, pens, pencils and rulers.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>January</h4>
                                        <h4 class="subheading">Special Moms Program</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">10-15 single mom's from 14 years old to 32 visit the foundation and cook lunch for between 150 and 250 elderly, handicapped and children. The beginning of one of the most beautiful days of sharing and caring every Wednesday.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>February</h4>
                                        <h4 class="subheading">Tragedy</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">24 houses burned down in Barrio Embacion - and within 2 days the ONLY FOUNDATION to bring food, blankets, kitchen materials, clothing and shoes to these now displaced families - YES - ANGELES DE MEDELLIN FOUNDATION. For the next 2 months we gave out food each tuesday and fed the families lunch on wednesdays.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>February</h4>
                                        <h4 class="subheading">700 Pairs of Shooes</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">We gave out over 700 pairs of shoes to the most needy children. Nothing beats a new pair of sneakers.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>March</h4>
                                        <h4 class="subheading">Sewing Classes</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">The beginning of another new program for anyone who wants to learn a trade and change their life. Four days a week Jose teaches sewing to ladies for 2 hours at a time. Good luck ladies - we can wait to watch your progress.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>March 10th</h4>
                                        <h4 class="subheading">Carmen Mancini</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">A very special angel CARMEN MANCINI donated 100 mattresses to the families that lost their homes in the fire in February.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>March 21st</h4>
                                        <h4 class="subheading">New Facility</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">The foundation moved from our old, filthy headquarters to a new larger facility across the street. After 3 weeks of painting and cleaning we were ready for a new life and expanded facility.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>April</h4>
                                        <h4 class="subheading">Easter</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">We held our first annual EASTER EGG COLORING EVENT WITH OVER 800 children visiting the foundation and decorating their first Easter eggs - and yes, when we told them they could eat them - BYE BYE HUEVOS.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>May</h4>
                                        <h4 class="subheading">Another Beautiful Month</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Expanding the sewing program, and giving out another 500 pairs of shoes to more children.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>June</h4>
                                        <h4 class="subheading">Our First Dental Clinic</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">With the kindness and skill of students learning dentistry - 15 students from the unviersity of UNIMINUTO in Bello visited the foundation and cleaned the teeth of over 200 children. It was the first time in their lives that anyone had even looked at their teeth. Special thanks to the professors and students - what a day and they even pulled one tooth. ouch!</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>June</h4>
                                        <h4 class="subheading">In Memory of Our Beautiful Angel</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Maria the mom of Faver - who is severly handicapped, we laid her to rest and because of the heroic efforts of a volunteer within one week Faver was in a home for men. We will always remember and love you Maria.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>July, August, September</h4>
                                        <h4 class="subheading">More Volunteers</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Over 100 volunteers visited the foundation during these months and made each day special and fun. Thank you all for your kindness, love and support to keeping the foundation running.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>October</h4>
                                        <h4 class="subheading">2nd Annual Haunted House</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Scary, terrifying, creppy, screaming, yelling and fear. YES, the volunteers out do themselves each year and trust me it does not get any better than watching the angelitos go running out from our special Haunted House. BOOOOOOOOOO!!</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>November</h4>
                                        <h4 class="subheading">Eanglish Classes Start to Wind Down</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Over 120 students visited the foundation and learned english from volunteers from throughout the world. Our success with students is off the scale - again thank you both students for your efforts and the volunteers who enrich their lives.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>December</h4>
                                        <h4 class="subheading">Annual Christmas Party</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">We celebrated our 9th Annual Christmas party over 4 days. We first gave out food, blankets, pillows and gifts to over 800 elderly and handicapped people. Smiles, hugs and laughter was given by volunteers from over 20 different nations bringing incredible joy to our little Angelitos.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>December 18th</h4>
                                        <h4 class="subheading">Papa Noel</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">On the 19th of December, over the next 3 days we had over 4,000 children visit the Foundation and they enjoyed music, food, gifts, face painting, trampolines and inflatible castles and our famous Colombian Papa Noel Antonio. NOTHING LIKE THE FINAL YEAR END EVENT AND YES, PAPA NOEL COMES IN FROM THE SOUTH POLE TO BRING SMILES TO ALL.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="text-center">
                            <p id="tabDescription">Thank you to the volunteers who made it the best year ever!<br>
                                Vamos 2016
                            </p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>