<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>A walk through the years at <br> 
                        Ángeles de Medellín Foundation</strong>
                </h2>
                <hr>
                <hr class="visible-xs">
            </div>
            <div class="col-lg-12">
                <ul class="nav nav-tabs nav-justified" id="timelineTab">
                    <li class="active"><a data-toggle="tab" data-target="#2015">2015</a></li>
                    <li><a data-toggle="tab" data-target="#2016">2016</a></li>
                </ul>
                <div class="tab-content">
                    <div id="2015" class="tab-pane fade in active">
                        <div class="text-center">
                            <p id="tabDescription">One of the greatest years Ángeles de Medellín has seen.<br>
                                We expanded to 4 locations, provided support to over 15,000 people and so much more.
                            </p>
                        </div>
                        <ul class="timeline">
                            <li>
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>January</h4>
                                        <h4 class="subheading">Children on vacation</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">We had many activities including music, dancing, arts and crafts etc. On an average day more than 100 children visited the foundation during their vacation time. We also had our annual school supply donation week and over 900 children received bags, notebooks, eraser, pens, pencils and rulers.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>March 2011</h4>
                                        <h4 class="subheading">An Agency is Born</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">We had many activities including music, dancing, arts and crafts etc. On an average day more than 100 children visited the foundation during their vacation time. We also had our annual school supply donation week and over 900 children received bags, notebooks, eraser, pens, pencils and rulers.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="2016" class="tab-pane fade">
                        <h3>hello</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2011</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We had many activities including music, dancing, arts and crafts etc. On an average day more than 100 children visited the foundation during their vacation time. We also had our annual school supply donation week and over 900 children received bags, notebooks, eraser, pens, pencils and rulers.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2011</h4>
                                    <h4 class="subheading">An Agency is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>