<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>Impact</strong>
                </h2>
                <hr>
                <img class="img-responsive img-border img-right" src="img/home/Mark.png" alt="">
                <hr class="visible-xs">
                <p class="quote">"In the barrio of Regalo de Dios each day more than 50 children and adults visit the center to learn English and computers and have a safe environment to learn and discover new worlds."</p>
                <p><small>
                    <a href="http://www.huffingtonpost.com/adam-pervez/marcos-the-father-of-the-_b_4956993.html" target="_blank"> - Marcos: Father of the Mountains, Huffington Post, 2014</a>
                </small></p>
                <p>Regalo del Dios or “Gift of God” was anything but that before Marcos arrived. The gang violence and lack of education was a huge problem in the area. Kids in the area had a very hard time finding ways to learn or grow.</p>
                <p class="quote">You won’t find Regalo de Dios on any tourist maps of Medellin. As a matter of fact, most Medellin residents have never been to this part of town since it has a reputation for being quite dangerous.</p>
                <p><small>
                    <a href="http://www.adventurejo.com/angeles-de-medellin-a-volunteer-opportunity-in-medellin-colombia/" target="_blank"> - Angeles de Medellin, Adventure Journal, 2012</a>
                </small></p>
                <p>Marcos realized this when he visited Regalo del Dios for the first time and knew he had to do something. Thus the Angeles de Medellin were born. The Angeles de Medellin have attracted over 3000 volunteers from all over the world to help enrich the lives of the families in the area.</p>
                <p>Marcos’s vision was to create a community center that empowered the town's people – specifically its children. He saw the value in creating a safe, happy space for them to do what they so often can’t do at home: play, have fun, and be kids.</p>
                <p>The Angeles de Medellin are able to help the extremely poor families by providing them with food, clothing and medicine in addition to an education. The families in the area have a safe place to go, free from the worries and problems that are so common in that area. The Angeles de Medellin are truly a “Gift of God”.</p>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>Initiatives</strong>
                </h2>
                <hr>
            </div>
            
            <div class="col-lg-4">
                <img class="img-responsive img-border img-left" src="img/home/Mark.png" alt="">
                <hr class="visible-xs">
            </div>
            <div class="col-lg-8">
                <p>Angeles de Medellín organizes learning games, sports opportunities, art projects, and other initiatives, providing happiness to the residents and better opportunities for their future.</p>
                <br>
                <div class="col-md-12" id="initiatives">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active"><a data-toggle="tab" data-target="#woman">Women's Support</a></li>
                        <li><a data-toggle="tab" data-target="#dental">Dental Clinic</a></li>
                        <li><a data-toggle="tab" data-target="#education">Continuing Education</a></li>
                        <li><a data-toggle="tab" data-target="#scholarship">Scholarships</a></li>
                        <li><a data-toggle="tab" data-target="#men">Men's Work</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="woman" class="tab-pane fade in active initiative">
                            <h3><i class="fa fa-female"></i>Women's Support</h3>
                            <p>A program for young unwed girls and women between the ages of 13 and 25, whereas they will learn computers, health care for their children, and begin to learn about business and actually form a business with these young ladies to advance their lives and look ahead to their future and give themselves and their children a better life.</p>
                        </div>
                        <div id="dental" class="tab-pane fade initiative">
                          <h3><i class="fa fa-smile-o"></i>Dental Clinic</h3>
                          <p>A Dental Program where we will have a full time hygienist and possibly a dental clinic for the people in the mountains.</p>
                        </div>
                        <div id="education" class="tab-pane fade initiative">
                          <h3><i class="fa fa-pencil-square-o"></i>Continuing Education</h3>
                          <p>Daily classes in computers, English and math for students and adults to improve their education.</p>
                        </div>
                        <div id="scholarship" class="tab-pane fade initiative">
                          <h3><i class="fa fa-money"></i>Scholarships</h3>
                          <p>Form a Scholarship program to enable the brightest a chance to go to the University and change their lives.</p>
                        </div>
                        <div id="men" class="tab-pane fade initiative">
                            <h3><i class="fa fa-male"></i>Men's Work</h3>
                            <p>A program for young boys/men between 16 and 24 to learn a trade (i.e. woodworking) and formulate a business plan where we will work with business and the government to begin to build decent housing for the impoverished in the mountains. NO MORE LIVING AND SLEEPING ON DIRT FLOORS FOR ANYONE..</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>